<h3> Grant points </h3>

<!-- Just a random info for me, dont look here, hehe -->

<%= %>

<%= form_for @changeSet, Routes.grant_path(@conn, :update, @userID), fn f -> %>
    <div class = "form-group">
        <%= text_input f, :points, placeholder: "Points", class: "form-control"%>
        <%= error_tag f, :points%>
    </div>
    <%= submit "Add points", class: "btn btn-primary"%>
<%end%>